body {
	color: #333333;
    font-family: "Arial narrow";
    padding: 10;
    font-size: 10pt;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 180%;
	color: black;
	font-weight: bold;
}

h2 {
	font-size: 150%;
}

#first {
	text-align: right;
	width: 40%;
	padding-right:10px;
	border-top-width: 2px;
	border-top-style: solid;
	margin-bottom: 0px;
	float: left;
}

#title {
	text-align: right;
	width: 40%;
	padding-right: 10px;
	float: left;
}

ul.details {
	width: 40%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-bottom: 30px;
	border-left-width: 2px;
	border-left-style: solid;
	float: left;
}