body {
    font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12pt;
    padding: 10px;
	background:#123 url("http://fc07.deviantart.net/fs36/f/2008/281/1/7/Circuit_Board_by_jasonh1234.jpg") 50% 0;
	color: #ff9900;
}

.picture {
	width: 40%;
	margin: 10px;
	padding: 10px;
}

h1 {
	width: 40%;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 150%;
	color: #ff6600;
}

h1:first-letter {
	font-size: 160%;
	color: #ffc773;
}

h2 {
	font-size: 130%;
	color: #7eef3c;
	letter-spacing: 1px;
}

h2:first-letter {
	font-size: 140%;
}

ul.details {
	line-height: 150%;
	letter-spacing: 1px;
	width: 40%;
	padding-right: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: right;
}

ul dl dt a {
	color: #ffb240;
}

#first {
	padding-left: 25px;
	width: 40%;
	padding-right:10px;
	float: right;
}

#title {
	padding-left: 25px;
	width: 40%;
	margin-top: 0px;
	margin-bottom: 0px;
	float: right;
}